.button,button {
  text-align: center;
  width: 30rem;
  font-size: 1.8rem;
  line-height: 48px;
  border-radius: 8px;
  cursor: pointer
}

.button:focus,button:hover {
  color: #333;
  border-color: #888;
  outline: 0
}

.button.button-primary {
  color: #fff;
  filter: brightness(90%)
}

.button.button-primary:focus,.button.button-primary:hover {
  color: #fff;
  filter: brightness(90%)
}

.icon {
  padding: 0 8px 3.5px 0;
  vertical-align: middle;
  width: 20px;
  height: 20px
}

.button.button-default:focus,.button.button-default:hover,.button.button-discord:focus,.button.button-discord:hover,.button.button-github:focus,.button.button-github:hover,.button.button-instagram:focus,.button.button-instagram:hover,.button.button-linkedin:focus,.button.button-linkedin:hover,.button.button-paypal:focus,.button.button-paypal:hover,.button.button-tiktok:focus,.button.button-tiktok:hover,.button.button-twit:focus,.button.button-twit:hover,.button.button-twitch:focus,.button.button-twitch:hover,.button.button-web:focus,.button.button-web:hover,.button.button-yt:focus,.button.button-yt:hover,.mercadopago-button:focus,.mercadopago-button:hover {
  filter: brightness(90%)
}

.mercadopago-button {
  color: #000;
  background-color: #009ee3
}

.mercadopago-logo {
  width: 3.1rem
}

.button.button-paypal {
  color: #fff;
  background-color: #003087
}

.button.button-discord {
  color: #fff;
  background-color: #5865f2
}

.button.button-linkedin {
  color: #fff;
  background-color: #272e92
}

.button.button-instagram {
  color: #fff;
  background-image: linear-gradient(-135deg,#b900b4,#f50000)
}

.button.button-tiktok {
  color: #fff;
  background-color: #000
}

.button.button-twitch {
  color: #fff;
  background-color: #9146ff
}

.button.button-twit {
  color: #fff;
  background-color: #3951d8
}

.button.button-web {
  color: #fff;
  background-color: #3742bc
}

.button-web>img {
  width: 2.4rem
}

.button.button-yt {
  color: #fff;
  background-color: #000
}

.button.button-github {
  background-color: #585454;
  color: #fff
}

.button.button-kick {
  background-color:#53fc18;
  color:  #000;
}
.button.button-kick:hover {
  filter: brightness(90%);
}

