* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* :root {
  --first-color: ;
  --accent-color: ;
  --third-color: ;
} */

@media (min-width: 200px) {
  body {
    font-family: 'Karla', sans-serif;
    background-color: #293190;
    color: #fff;
  }
  a {
    text-decoration: none;
  }
  main {
    display: grid;
    grid-template-columns: 0.2fr 2fr 0.2fr;
    z-index: 20;
  }
  .disGrid {
    grid-area: 1 / 2;
  }
  .presentation{
    margin-top: 3rem;
  }
  .presentation > img {
    max-width: 9.5rem;
    display: block;
    margin: auto;
    border-radius: 10rem;
    margin-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;

  }
  h1 {
    margin: 1rem 0 .4rem 0;
    text-align: center;
    font-size: 1.7rem;
    color: #fff;
  }
  .description {
    font-size: 1.6em;
    text-align: center;
    color: rgb(175, 173, 173);
    margin-bottom: 3rem;
  }
  
  h2 {
    padding: 2rem 0 1rem 0;
    font-size: 2rem;
    text-align: center;

  }
  .titleRed {
    font-size: 1.4rem;
    text-align: center;
    border-radius: 0.3rem;
    padding: 1.8rem 2rem;
    margin: 1rem 0;
    background-color: #000000a5;
    color: #fff;
    
  }
  .titleRed:hover {
    background-color: #fff;
    transition: 0.1s;
    color: #000;
  }
  .titleRed a {
    color: #fff;
  }
  .titleRed p {
    color: #fff;
  }
  .titleRed p:hover {
    color: #000;
  }
  .titleRed a:hover {
    color: #000;
  }
  footer {
    margin: 2rem 0;
    text-align: center;
    font-size: 1.3rem;
  }
}
