@media (min-width: 768px) {
  main {
    grid-template-columns: 1.2fr 4fr 1.2fr;
  }
  h1 {
    font-size: 4rem;
  }
  .titleRed {
    font-size: 2rem;
  }
  .description,
  .descriptionParagraph {
    text-align: center;
    font-size: 1.3em;
    margin: 2rem 0;
  }

  .descriptionParagraph {
    text-align: left;
  }
  footer {
    font-size: 1.4rem;
  }
}
