@media (min-width: 768px) {

    .navbar{
       padding: 1.4rem 3rem; 
    }
    .middleGrid{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
    #formDollar{
        grid-area: 1 / 2;
    }

    .gridGallery{
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
}